[data-role=page] {
    height: 100% !important;
    position: relative !important;
}

[data-role=footer] {
    bottom: 0;
    position: absolute !important;
    top: auto !important;
    width: 100%;
}

.login_btn {
    background: #ffcc00 !important;
    border-color: #ffffff !important;
    color: #000 !important;
}