[data-role=page] {
    /* height: 100% !important;
    position: relative !important; */
}

[data-role=footer] {
    bottom: 0;
    /* position: absolute !important; */
    /* top: auto !important; */
    width: 100%;
}

.errorTxt {
    min-height: 20px;
    text-align: center;
    color: red;
}

.login_btn {
    background: #ffcc00 !important;
    border-color: #ffffff !important;
    color: #000 !important;
}

.back_btn {
    background: #7f7f7f !important;
    border-color: #ffffff !important;
    color: #fc0 !important;
}

.clear_btn {
    background: #7f7f7f !important;
    border-color: #ffffff !important;
    color: #fc0 !important;
}

.issue_ticket_form_textArea {
    height: 139px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.center_image_div {
    width: 100%;
    height: 100%;
    position: relative;
}

.center_image {
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -18px
}

#center_image_wrapper {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
}

.card {
    /* width: 350px; */
    border: 1px solid black;
    box-shadow: 1px 1px 3px #000;
    border-top: 10px solid #ffcc00;
    min-height: 180px;
    padding: 10px;
    margin: 10px;
}

.card>img {
    /* border-radius: 50%; */
    width: 70px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_heading {
    font-weight: lighter;
    margin-left: 10px;
    text-align: center;
    /* margin-top: -70px; */
}

.news_card {
    /* width: 350px; */
    border: 1px solid black;
    box-shadow: 1px 1px 3px #000;
    border-top: 10px solid #ffcc00;
    /* min-height: 180px; */
    padding: 10px;
    margin: 10px;
}

.news_card>img {
    /* border-radius: 50%; */
    width: 25px;
    /* margin-left: 40px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.news_card_content {
    display: inline;
    font-weight: lighter;
    margin-left: 10px;
    /* text-align: center; */
    /* margin-top: -70px; */
}

.pending_card {
    /* width: 350px; */
    border: 1px solid black;
    box-shadow: 1px 1px 3px #000;
    border-top: 10px solid #ffcc00;
    min-height: 180px;
    padding: 10px;
    margin: 10px;
}

.pending_card>img {
    /* border-radius: 50%; */
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.pending_card_heading {
    /* font-weight: lighter; */
    /* margin-left: 10px; */
    /* text-align: center; */
    /* margin-top: -70px; */
}

i.card_news_date_posted {
    font-size: 11px;
}